h1 {
  text-align: center;
  margin: 50px 0;
  font-size: 20px;
}

input {
  width: 445px;
  padding: 10px;
  display: block;
  margin: 0 auto 50px;
}
#in{
  display: flex;
  margin: 0 auto 50px;
  justify-content: center
}
textarea {
  width: 400PX;
  height: 50px;
  padding: 10px;
  display: block;
  resize: none;
}

button {
  width: 45px;
  height: 40px;
  display: block;
  font-size: 16px;
  margin-top: auto;
  margin-left: 4px;
  border-radius:  10px;
  border-color: transparent;
  background-color: white;
}
#aicn{
  width: 90%;
  height: 90%;
}

#output {
  width: 500px;
  display: block;
  height: 500px;
  border: 1px solid #cccccc;
  margin: 0 auto;
  border-radius: 8px;
  padding: 10px;
  background-color: turquoise;
}

.time{
  margin-right: auto;
  width: 200px;
  padding: 8px;
}
.msg{
  margin-right: auto;
  margin-bottom: 15px;
  word-wrap: break-word;/* 吹き出し内で自動で改行 */
  position: relative;
  width: 200px;
  padding: 1rem 1rem 1rem 1.5rem;
  border-radius: 30px;
  background-color: rgb(247, 253, 253);
  color: black;
}

/* 吹き出しを可愛く */
.msg:before,
.msg:after {
  position: absolute;
  border-radius: 30%;
  background-color: rgb(247, 253, 253);
  content: "";
}
.msg:before {
  top: 103%;
  left: 40px;
  height: 10px;
  width: 10px;
}
.msg:after {
  top: 120%;
  left: 50px;
  height: 6px;
  width: 6px;
}

/* 入力画像の文字を変更 */
label {
  margin-left: 3em;
}
.my-file-input {
  display: inline-block;
  margin: 0 auto;
  padding: 5px;
  width: 200px;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  background-color: #55f;
  color: white;
  box-shadow: #888 2px 2px 1px;
  cursor: pointer;
}
.my-file-input:hover {
  background-color: #88f;
}
.my-file-input:hover {
  background-color: #88f;
}
.my-file-input:active {
  box-shadow: #888 1px 1px 1px;
  position: relative;
  top: 1px;
  left: 1px;
}
.my-file-input input {
  display: none;
}